<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.air.bigearth.apps.system.mapper.basic.AuthorityMapper" >
  <resultMap id="BaseResultMap" type="org.air.bigearth.apps.system.domain.basic.Authority" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="controller" property="controller" jdbcType="VARCHAR" />
    <result column="des" property="des" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from apps_t_sys_authority
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.air.bigearth.apps.system.domain.basic.Authority" >
    insert into apps_t_sys_authority (id, name, code,
      url, method, controller, 
      des)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, #{controller,jdbcType=VARCHAR}, 
      #{des,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.air.bigearth.apps.system.domain.basic.Authority" >
    update apps_t_sys_authority
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      controller = #{controller,jdbcType=VARCHAR},
      des = #{des,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, name, code, url, method, controller, des
    from apps_t_sys_authority
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, code, url, method, controller, des
    from apps_t_sys_authority
  </select>
</mapper>